@import 'reset';

$primary-color: rgb(110, 56, 229);
$font-color: rgb(254, 254, 254);
$second-font-color: rgb(216, 211, 211);
$third-color: rgb(244, 244, 31);
$page-height: 100vh;
$font-stack: 'Roboto', sans-serif;
$projects-image1: "../images/1.jpg";
$projects-image2: "../images/2.jpg";
$projects-image3: "../images/3.jpg";
$projects-image4: "../images/4.jpg";
$projects-image5: "../images/5.jpg";
$background-image: "../images/header.jpg";
$line-height: 2em;
$button-text: rgb(0, 0, 0);

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content} 
  }

body {
    font-family: $font-stack;
}

.header {
    display: flex;
    background-image: url($background-image);
    background-size: cover;
    height: $page-height;

    .title {
        display: flex;
        flex-direction: column;
        color: $font-color;
        justify-content: flex-end;
        margin-bottom: 50px;

        span {
            display: flex;
            max-width: 600px;
            margin-left: 50px;
        }

        .text {
            font-size: 5em;
        }

        .yellow {
            color: $third-color;
            font-size: 6em;
        }

        .underline {
            background: $primary-color;
            width: 800px;
            height: 15px;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30vh;
    font-size: 2em;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300vh;

    .portfolio-item {
        display: flex;
        flex-basis: 650px;
        flex-grow: 1;
        color: $font-color;
        font-size: 2em;

        h3 {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin-left: 20px;
        }
    }

    .item1 {
        background-image: url($projects-image1);
        background-size: cover;
    }
    .item2 {
        background-image: url($projects-image2);
        background-size: cover;
    }
    .item3 {
        background-image: url($projects-image3);
        background-size: cover;
    }
    .item4 {
        background-image: url($projects-image4);
        background-size: cover;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    height: $page-height;

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 600px;
        flex-grow: 1;

        h2 {
            display: flex;
            justify-content: center;
            font-size: 4em;
            margin-left: 50px;
        }

        .underline {
            background: $primary-color;
            width: 80%;
            height: 8px;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 600px;
        flex-grow: 1;

        p {
            font-size: 1em;
            line-height: $line-height;
            margin-left: 10px;
            margin-right: 100px;
        }
    }
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: $page-height;

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 600px;
        background: $primary-color;
        height: 60vh;
        flex-grow: 1;

        h2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            color: $font-color;
            font-size: 5em;
        }
    }

    .right-side {
        display: flex;
        justify-content: flex-end;
        flex-basis: 600px;
        flex-grow: 4;

        ul {
            list-style-type: none;
            font-size: 2em;
            flex-grow: 1;
            margin-left: 10%;

            li {
                border-bottom: 1px solid $second-font-color;
                padding-bottom: 15px;
                margin-bottom: 15px;
                flex-grow: 1;
            }

            span {
                color: $second-font-color;
                padding-right: 20px;
            }
        }
    }
}


.knowus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $page-height;
    background: url($projects-image5);
    background-size: cover;
    text-align: center;

    h2 {
        font-size: 7em;

        a {
            text-decoration: none;
            color: $third-color;
        }
    }

    span {
        font-size: 7em;
        color: $font-color;
    }
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    height: $page-height;
    background: $primary-color;

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        flex-basis: 600px;
        flex-grow: 1;
        height: 60vh;
        background: #7555FF;

        .text {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            color: $font-color;
            font-size: 2em;
            margin-right: 20%;

            span:last-of-type {
                color: $third-color;
                font-weight: bold;
                font-size: 1.3em;
            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 600px;
        flex-grow: 5;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15%;

            .field {
                border-bottom: 1px solid $second-font-color;
    
                span {
                    color: $second-font-color;
                    font-size: 3em;
                }
    
                input {
                    padding: 10px;
                    margin-left: 15px;
                    background: none;
                    border: none;
                    font-size: 1.5em;
                    color: $second-font-color;
    
                    &:focus {
                        color: $third-color;
                        font-size: 2em;
                    }
                }
            }

            button {
                width: 200px;
                height: 50px;
                border: none;
                background: $third-color;
                margin-top: 50px;
                font-size: 2em;
                color: $button-text;

                &:disabled {
                    background: white;
                }
            }
        }
    }
}

@include placeholder {
    color: $second-font-color;
}